site_name: CUPID-seq
site_description: Containerized dual-index demultiplexing pipeline for 16S amplicon sequencing
repo_url: https://github.com/rlporter24/CUPID-seq
repo_name: rlporter24/CUPID-seq

theme:
  name: material
  font:
    text: Inter
    code: Roboto Mono
  palette:
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - content.code.copy
    - content.tabs.link
    - navigation.instant
    - navigation.top
    - navigation.footer
    - search.suggest
    - search.highlight

extra_css:
  - assets/stylesheets/extra.css

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - tables
  - attr_list
  - md_in_html

plugins:
  - search
  - glightbox

nav:
  - Overview: index.md
  - Getting Started: getting-started.md
  - Configuration: configuration.md
  - Troubleshooting: troubleshooting.md
